@import "tailwindcss";

:root {
  --primary: #5c61e9;
}

.text-primary {
  color: var(--primary);
}

.btn-primary {
  border-radius: 10px;
  padding: .5rem 1.8rem;
  color: #ffffff;
  background-color: var(--primary);
  cursor: pointer;
}

.input-primary {
  display: block;
  width: 100%;

  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0;
  padding-right: 0;

  font-size: 0.875rem;

  background-color: transparent;

  border: none;
  border-bottom: 2px solid var(--primary);

  appearance: none;
  outline: none;
}

.input-primary:focus {
  border-bottom-color: var(--primary);
  box-shadow: none;
}